* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Helvetica Regular";
  src: url("/assets/Font/Helvetica\ Neue\ Regular.woff");
  src: url("/assets/Font/Helvetica\ Neue\ Regular.woff2");
}
@font-face {
  font-family: "Helvetica Medium";
  src: url("/assets/Font/Helvetica\ Neue\ 65\ Medium.woff2");
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Helvetica Regular";
}
a {
  text-decoration: none !important;
}
.row {
  margin: 0 !important;
}
.nav-links .active {
  background-color: #4c4693;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
.nav-links .active span {
  color: #ffffff;
}
.heading h1 {
  color: #4c4693;
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 4rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.header ul {
  display: flex;
  margin: 0;
}
.header ul li {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  align-self: center;
}
.header .logo {
  width: 35%;
}
.header .logo img {
  width: 30%;
  padding: 0.5rem 0;
}
.header span {
  color: #000000;
  font-size: 0.9rem;
}
/* Humberug */
.hamburger1 {
  position: absolute;
  z-index: 9999;
  padding: 3% 0%;
  display: flex;
  background-color: inherit;
  gap: 6.5rem;
  width: 85%;
}

.home-nav-bar,
.home-nav-bar1 {
  display: flex;
}
.topnav1 {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f7f5ec;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 2;
  transform: translate3d(-1900px, 0, 0);
  transition: transform 0.9s;
  transition-timing-function: ease-in-out;
}
.topnav1 .page-active {
  color: #4c4693 !important;
  border: none;
}
.page-active {
  color: #4c4693 !important;
  border: none;
}
.page-active1 {
  color: #4c4693 !important;
  border: none;
}
.active_topnav1 {
  transform: none;
  left: 0%;
}

.mobile_menu_icon1 {
  cursor: pointer;
  text-align: end;
  float: right;
  display: flex;
  align-items: center;
}

.menu {
  float: right;
  width: 32px;
  /* margin-top: 30% !important; */
}
.topnav1 a {
  padding-left: 5%;
  color: #4c4693;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  margin: 20px;
  position: relative;
}

.topnav1 .active_link1::before {
  width: 100%;
  bottom: -8px;
}

.topnav1 a span {
  position: relative;
}

.topnav1 a:hover {
  color: #34834a;
  text-decoration: none;
}
.hamburger1 {
  display: none;
}
.sub-menuu {
  padding-left: 5%;
}
/* Humberug End */

/* Banner Start */
.banner .carousel img {
  height: 90vh;
}
.banner .carousel-caption {
  right: auto;
  top: 60%;
  bottom: auto;
  left: 11%;
  text-align: left;
}
.banner .carousel-caption h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #4c4693;
}
.banner .carousel-caption span {
  font-weight: bold;
}

/* Categories Start */
.categories {
  padding: 4rem 0;
}
.cate {
  text-align: center;
}
.cate img {
  width: 50%;
}
.cate p {
  font-family: Helvetica Medium;
  margin: 1rem 0;
}
/* Categories Ends */

/* Be-a-Math Start */
.be-a-math {
  padding: 4rem 0;
  background-color: #f6f5fa;
}
.be-a-math-box {
  margin: 0 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: #dddddd 0px 3px 10px 0px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 55vh;
}
/* .be-a-math img {
  width: 90%;
} */
.be-a-math p {
  margin: 1rem 0;
  font-size: 1.25rem;
}
.be-a-math-title {
  padding: 2rem;
}
/* Be-a-Math Ends */

/* Products Section Starts */
.products {
  margin: 5rem 0;
}
.mathlab-img {
  text-align: center;
}
.mathlab-img img {
  width: 90%;
}
/* Products Section End */

/* Numbering Section Start */
.numbering {
  margin: 5rem 0;
}
.numbering span {
  font-size: 3rem;
  font-weight: bold;
}
.numbering .trained-teachers,
.happy-students {
  margin: 2rem 0;
}
#numbering-col-1 {
  text-align: center;
  align-self: center;
}
/* Numbering Section End */

/* About Page */
.upper-colored-banner {
  background-color: #4c4693;
}
.colored-banner .heading {
  margin-top: 8rem;
}
.colored-banner .heading h1 {
  color: #ffffff;
  text-align: left;
  margin-bottom: 1rem;
}
.colored-above .heading h1 {
  color: #ffffff;
  text-align: left;
  font-size: 2.5rem;
  margin: 0;
}
.colored-above .heading {
  background-image: url("/assets/Images/colered-above-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 2rem;
}
.colored-above-bg {
  background-image: url("/assets/Images/implement-0.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
}
.colored-banner .sub-heading {
  color: #4c4693;
  margin-top: 2rem;
}
.colored-banner h2 {
  font-weight: bold;
}
.banner-image {
  margin-top: -10rem;
  text-align: center;
}
.banner-image img {
  width: 70%;
}
.colored-second .text-side h3,
.colored-third .text-side h3 {
  color: #4c4693;
  font-weight: bold;
}
.text-side .para p {
  line-height: 30px;
  text-align: justify;
}
.text-side .para p span {
  font-weight: bold;
}
.colored-second .text-side,
.colored-third .text-side {
  padding: 7rem 2rem 0 2rem;
}
.side-col {
  align-self: center;
}
.colored-second,
.colored-third {
  margin: 4rem 0;
}
.colored-above {
  margin: 4rem 0 0 0;
}
#product-banner {
  width: 50%;
}
.people {
  margin: 6rem 0 8rem 0;
  padding: 0 10rem;
}
.people .bg-box {
  border-radius: 22px;
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
  background-color: #fac853;
}
.people .image-side img {
  padding: 2rem;
}
.people .text-side h4,
.people .text-side span {
  font-weight: bold;
}
.people .text-side .para {
  margin-top: 1rem;
  text-align: justify;
  width: 90%;
}
.colored-above .para {
  padding: 3rem;
  background-color: #ffffff;
  text-align: justify;
}
#implement-banner-image {
  margin-top: -10rem;
  text-align: center;
}
#implement-banner-image img {
  width: 60%;
}
.teacher-training {
  padding: 0;
}
.mastering-maths {
  background-image: url("/assets/Images/Mastermind-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}
.mastering-maths .heading {
  margin: 2rem 0 1rem 0;
}
.mastering-maths .heading h1 {
  color: #4c4693;
  margin-bottom: 0;
}
.mastering-maths .para p {
  padding: 0;
}
.hands-learn {
  padding: 0;
  margin: 0;
}
.hands-learn h1 {
  margin: 3rem 0 1rem 0;
  font-size: 2.5rem;
}
.hands-learn .para {
  padding: 0 3rem 3rem 3rem;
}
.hands-learn .para p {
  width: 100%;
}
.children {
  text-align: center;
}
.children img {
  width: 60%;
}
.playing-kids {
  text-align: center;
}
.playing-kids img {
  width: 70%;
}
.text-sec {
  margin: 4rem 0;
}
.text-sec .heading {
  text-align: center;
}
.text-sec .heading h1 {
  margin-bottom: 1rem;
}
.text-sec .heading h2 {
  color: #4c4693;
  font-weight: bold;
  margin-bottom: 1rem;
}
.color-bg {
  background-color: #f4f1eb;
  padding: 3rem 0;
}
.side-colored-bg {
  margin: 4rem 0;
}
.colored-bg {
  background-image: url("/assets/Images/colered-above-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 6rem 0;
  color: #ffffff;
  height: 100%;
}
.col-padding-zero {
  padding: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.mob-image {
  background-image: url("/assets/Images/Mastermind-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 1rem;
}
/* About Page End */

/* Partner Page Start */
.partner-bg-sec {
  background-image: url("/assets/Images/Patner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 67vh;
}
.partner-bg-sec .heading h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: normal;
  padding-top: 3rem;
}
.banner-content {
  margin-top: -23rem;
}
#contact-banner-content img {
  width: 75%;
}
.partner-sec {
  margin-bottom: 7rem;
}
.partner-banner {
  text-align: center;
}
.partner-banner img {
  width: 100%;
}
.form-outer {
  align-self: flex-end;
}
.form {
  padding: 5rem 2rem 3rem;
  background-color: #f1f1f0;
  border-radius: 14px;
}
form label {
  margin-bottom: 0.5rem;
}
form input {
  width: 100%;
  margin-bottom: 1rem;
}
form input[type="text"],
input[type="email"],
input[type="phone"] {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form input[type="submit"] {
  width: auto;
  background-color: #49509d;
  color: white;
  padding: 10px 30px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
/* Partner Page End */

/* Footer Starts */
footer {
  background-image: url("/assets/Images/footer.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

footer ul {
  list-style: none;
  margin: 0;
}
.address,
.email,
.phone {
  display: flex;
}
.address img,
.email img,
.phone img {
  width: 50%;
}
footer span {
  font-size: 0.9rem;
  color: #ffffff;
}
.address-text,
.email-address,
.phone-number {
  align-self: center;
}
footer li,
.address,
.email,
.phone {
  margin-bottom: 1rem !important;
}
/* Footer Ends */

@media screen and (max-width: 620px) {
  .partner-bg-sec .heading h1 {
    font-size: 1.5rem;
  }
  .banner-content {
    margin-top: -19rem;
  }
  #contact-banner-content {
    margin-top: -24rem;
  }
  #contact-banner-content img {
    width: auto;
    margin-bottom: 2rem;
  }
  .form {
    margin-top: 3rem;
    padding-top: 3rem;
  }
  p {
    font-size: 0.8rem;
  }
  .header .logo img {
    width: auto !important;
  }
  .banner .carousel img {
    height: 40vh;
  }
  .carousel-indicators {
    margin-bottom: 0rem !important;
  }
  .banner .carousel-caption {
    left: 12%;
    right: 0%;
    top: 55%;
    bottom: 0%;
  }
  .banner .carousel-caption h1 {
    font-size: 1.3rem;
  }
  .banner .carousel-caption p {
    font-size: 0.8rem;
  }
  .cate p {
    font-size: 0.8rem;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .be-a-math-box {
    margin: 1rem 2rem;
    height: auto !important;
  }
  .be-a-math-title {
    padding: 0 !important;
  }
  .be-a-math p {
    font-size: 1rem;
  }
  .mathlab-img {
    padding: 1rem 0;
  }
  .numbering-img {
    padding-top: 2rem;
  }
  .contact {
    margin-top: 3rem;
  }
  .banner-image {
    margin-top: 2rem;
  }
  .colored-second .text-side {
    padding: 4rem 0 0 0;
  }
  .colored-third .text-side,
  .colored-third {
    padding: 0;
    margin: 0;
  }
  .people {
    margin: 5rem 0 4rem 0;
    padding: 0;
  }
  .people .text-side .para {
    width: 100%;
  }
  .text-side {
    padding: 2rem 1rem;
  }
  .image-side img {
    margin: 2rem 0;
  }
  #implement-banner-image {
    margin-top: 2rem;
  }
  .colored-above .heading h1 {
    font-size: 2rem;
  }
  .colored-above .para {
    padding: 2rem 0;
  }
  .colored-above-bg {
    height: auto;
    background: none;
  }
  .mastering-maths {
    background-image: none;
    height: auto;
  }
  .hands-learn .para {
    padding: 0 1rem;
  }
  .playing-kids img {
    width: 100%;
  }
  .colored-bg {
    padding: 2rem 1rem;
  }
  .col-reverse {
    flex-direction: column-reverse;
  }
  .children img {
    width: 100%;
  }
  .mastering-maths .heading {
    margin: 0 0 1rem;
  }
}
